html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#pocetna {
  background-attachment: fixed;
}

.head {
  width: 100%;
  height: 80px;
  background-color: inherit;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.head h1 {
  width: 100px;
  height: auto;
  margin: 15px;
  font-size: 24px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

.head.sticky {
  background-color: #f4f4f4;
  position: fixed;
  z-index: 1;
}

.head.sticky h1 {
  color: #ff7315;
}

.head.sticky #main-menu a {
  color: #3a3535;
}

.header-img img {
  width: 100%;
  height: 800px;
  border-bottom: 1px solid black;
}

.udruzenje {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 10px;
  position: absolute;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  top: 45%;
  font-size: 20px;
  padding-left: 90px;
}

.udruzenje h1 {
  text-shadow: 2px 4px #1d1818b2;
}

.udruzenje li {
  margin: 7px;
  padding: 5px;
  text-shadow: 2px 2px #1d1818;
}

#main-menu {
  display: flex;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 50%;
  right: 0;
}

#main-menu a {
  flex-grow: 1;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  transition: 300ms;
}

/* o nama */
#o-nama {
  background-attachment: fixed;
  padding-top: 80px;
}

.page {
  width: 100%;
  border-bottom: 1px solid black;
}

.page h2 {
  width: 100%;
  text-align: center;
  color: gray;
}

.colum {
  display: flex;
  margin: 20px auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

.colum ul {
  margin: auto;
}

.colum ul li {
  display: inline-flex;
  flex-grow: 1;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 30px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  background: url(../images/oblak.png) no-repeat;
  width: 210px;
  height: 190px;
  padding: 0 0 0 5px;
}

.ciscenje {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.ciscenje ul {
  position: relative;
}

.ciscenje ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  width: 200px;
}

.ciscenje ul li img {
  width: 60px;
  opacity: 0.7;
}

.ciscenje ul li img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.saradnja {
  background-color: #f4f4f4;
  color: #ff7315;
  border-top: 2px solid #000;
  font-weight: bold;
  font-size: 10px;
  padding: 3px 0;
  margin: 0 auto;
  text-align: center;
}

/* Usluge/Cenovnik */
#usluge {
  background-attachment: fixed;
  padding-top: 50px;
}

.page2 {
  width: 100%;
  height: auto;
  border-top: 1px solid black;
  background: #fff;
}

.page2 div h2 {
  text-align: center;
  color: gray;
  margin: 40px;
}

.container {
  position: relative;
  justify-content: center;
  display: flex;
  margin: 80px 0;
  cursor: pointer;
  background: #fff;
}

.card {
  position: relative;
  background: #222831;
  color: #f16821;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  margin: 50px;
  transition: all ease-in-out 1s;
}

.card:hover {
  box-shadow: 0 0 0 20em inset #000;
  color: #eee;
}

.title {
  font-size: 24px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  margin-top: -25px;
  text-align: center;
}

.price h5 {
  font-size: 3em;
  margin-top: 20px;
  padding: 20px;
}

/* zaglavlje */
#kontakt {
  background-attachment: fixed;
}

.zaglavlje {
  width: auto;
  background-color: #f4f4f4;
  color: #3a3535;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

.zaglavlje .podaci {
  margin-left: 30px;
}

.zaglavlje .pib {
  position: absolute;
  margin-left: 30%;
  margin-top: -86px;
}

.zaglavlje a {
  position: relative;
  text-decoration: none;
  color: #3a3535;
  margin: 30px;
  top: 10px;
}

.zaglavlje a:hover {
  text-decoration: underline;
}

.kofice-zaglavlje {
  position: absolute;
  left: 55%;
  margin-top: 20px;
}

.kofice-zaglavlje img {
  margin: auto;
  width: 70px;
  opacity: 0.5;
}

.kofice-zaglavlje img:hover {
  scale: 1.2;
  opacity: 1;
  transform: scale(1.2);
}

.social-media {
  position: relative;
  display: inline-block;
  left: 75%;
  top: -90px;
}

.social-media a {
  font-size: 35px;
  margin-right: 0;
  color: #ff7315;
}

.social-media a:hover {
  opacity: 0.5;
}

.mail {
  position: absolute;
  left: 74%;
  margin-top: -55px;
}

/* copyright */
.copyright {
  height: 25px;
  text-align: center;
  margin: auto;
}

.copyright p {
  font-size: 12px;
  width: 80%;
  margin: auto;
  padding-top: 5px;
}

.copyright p>a {
  text-decoration: none;
}
