html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#pocetna {
  background-attachment: fixed;
}

.head {
  width: 100%;
  height: 80px;
  background-color: inherit;
  margin: 0 auto;
  position: absolute;
  top: 0;
}

.pozadina img {
  width: 100%;
  height: 750px;
  margin: 0;
  padding: 0;
}

.head.sticky {
  background-color: rgb(255, 220, 145);
  position: fixed;
  border-bottom: 1px solid #222831;
  z-index: 1;
}

.head.sticky #main-menu a {
  color: #f16821;
}

.header-logo {
  width: 300px;
  margin: 0;
  position: absolute;
  top: 250px;
  right: 650px;
  left: auto;
}

.header-logo h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  color: #19d3da;
  text-shadow: 10px 10px #000000;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.text1 {
  justify-content: center;
  position: absolute;
  top: 520px;
  right: 530px;
  margin: 0;
  color: #19d3da;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.text2 {
  display: flex;
  position: absolute;
  top: 600px;
  right: 450px;
  /* margin: -10% 40%; */
}

.text3 {
  width: 200px;
  height: auto;
  flex-grow: 1;
  padding-left: 30px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  color: #19d3da;
}

#main-menu {
  display: flex;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 50%;
  left: 0;
}

#main-menu a {
  flex-grow: 1;
  text-align: center;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  transition: 300ms;
}

.head.sticky #kont-pocetna {
  opacity: 1;
}

.kont-pocetna {
  opacity: 0;
  display: inline-flex;
  position: absolute;
  right: 0;
  margin: 25px 20px;
}

.kont-pocetna a {
  padding: 0 15px;
  color: #f16821;
  font-size: 30px;
}

.kont-pocetna a:hover {
  opacity: 0.5;
}

/*kontakt*/
.kontakt {
  position: absolute;
  top: 0;
  right: 0;
  /* border: 3px solid #000; */
  padding: 10px;
  background: rgba(255, 255, 255, 0.568);
  font-weight: bold;
  border-radius: 15px;
}

.kontakt-linija {
  /* border: 2px solid #000; */
  padding: 10px;
}

.telefoni {
  display: flex;
}

.telefoni a {
  text-decoration: none;
  color: #ffff;
  margin-left: 20px;
  padding-top: 20px;
}

.telefoni a:hover {
  text-decoration: underline;
}

.social-media a {
  color: #fff;
  font-size: 30px;
  margin: 10px 20px;
}

.social-media a:hover {
  opacity: 0.5;
}

.social-media a .fa-facebook {
  color: #3b5998;
}

.social-media a .fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media a .fa-whatsapp {
  color: rgb(17, 143, 5);
}

.social-media a .fa-viber {
  color: rgb(105, 2, 126);
}

.mail p {
  margin-left: 20px;
  color: #fff;
}

/* o nama */
#o-nama {
  background-attachment: fixed;
  padding-top: 60px;
}

.page {
  width: 100%;
  border-bottom: 1px solid black;
  background: rgb(255, 220, 145);
  margin-top: -10px;
}

.page h1 {
  width: 100%;
  text-align: center;
  color: gray;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.text {
  font-size: 20px;
  margin: 50px 280px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.ciscenje {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.ciscenje ul {
  position: relative;
}

.ciscenje ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  width: 200px;
}

.ciscenje ul li img {
  height: 100px;
  opacity: 0.7;
}

.ciscenje ul li img:hover {
  opacity: 1;
  transform: scale(1.2);
}

.saradnja {
  display: flex;
  background-color: #222831;
  border-top: 2px solid #000;
  margin: auto;
}

.saradnja h3 {
  flex-grow: 1;
  color: #19d3da;
  font-weight: bold;
  text-align: center;
}

/* Pretplate */
#pretplate {
  background-attachment: fixed;
  padding-top: 60px;
}

.page2 {
  width: 100%;
  height: 750px;
  background: rgb(255, 220, 145);
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

.page2 div h1 {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.page2 div p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

.container {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 30px;
}

.card {
  position: relative;
  background: #222831;
  color: #f16821;
  width: 250px;
  height: 350px;
  border-radius: 15px;
  margin: 50px;
  transition: all ease-in-out 1s;
}

.card:hover {
  box-shadow: 0 0 0 20em inset #000;
  color: #eee;
}

.title {
  font-size: 24px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  margin-top: -25px;
  text-align: center;
}

.price h5 {
  font-size: 3em;
  margin-top: 20px;
  padding: 20px;
}

button {
  position: absolute;
  outline: none;
  border: none;
  background: #19d3da;
  color: #000;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  /* transition: all ease-in-out 1s; */
}

/* copyright */
.copyright {
  background-color: #222831;
  height: 25px;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid black;
}

.copyright p {
  font-size: 12px;
  width: 80%;
  margin: auto;
  padding-top: 5px;
  color: #f0a500;
}

.copyright p>a {
  text-decoration: none;
  color: cyan;
}
